<p> 
	<%= @profile.first_name %>
  <%= @profile.last_name %>
</p>
<p> Age: <%= @profile.age %> ans. </p>
<p> City: <%= @profile.city.name %> </p>
<p> Email: <%= @profile.email %> </p>
<p> Description: <%= @profile.description %> </p>