<p> 
	<%= @specific_gossip.user.first_name %>
  <%= @specific_gossip.user.last_name %>, 
  <%= @specific_gossip.user.age %> ans.
  <%= link_to '(voir le profil)', user_path(@specific_gossip.user.id) %>
</p> <br/>
<p> <%= @specific_gossip.title %> </p> <br/>
<p>	"<%= @specific_gossip.content %>"" </p>
<p> Created on : <%= @specific_gossip.created_at.strftime('%d/%m/%Y') %> </p>