<div class="card mx-auto" style="margin-top: 20px; width: 600px;">
  <div class="card-header">
    <%= @gossip.title %> 
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p> <%= @gossip.content %> </p>
      <footer class="blockquote-footer">
  			<%= link_to @gossip.user.first_name + " " + @gossip.user.last_name, 
        user_path(@gossip.user.id)%>, 
        <%= @gossip.user.age %> ans,
        <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %>,
      	<cite title="Source Title">
      		written on : <%= @gossip.created_at.strftime('%d/%m/%Y') %>
      	</cite>
      </footer>
    </blockquote>
  </div>
</div>

<% if is_admin? %>
  <div class="container text-center" style="margin-top: 20px">
    <%= link_to 'Editer', edit_gossip_path(@gossip.id), class: "btn btn-primary" %>
    <%= link_to 'Supprimer', gossip_path(@gossip.id), class: "btn btn-danger", data: {confirm:"Etes-vous sûr de vouloir supprimer ce potin ?", method:"DELETE"} %>
  </div>
<% end %>

<div class="container text-center" style="margin-top: 50px">
  <% @gossip.comments.sort_by(&:created_at).each do |comment| %>
    <div class="row" style="margin-top: 20px">
      <div class="col well">
        <%= link_to comment.user.first_name, user_path(comment.user.id)%> a commenté :
      </div>
      <div class="col well" style="font-style: italic">
        "<%= comment.content %>"
      </div>
      <div class="col well" style="font-style: italic">
        <%= link_to 'Editer', edit_gossip_comment_path(@gossip.id, comment.id) %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'comments/new' %>